/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

header {
    background-color: white;
    margin: 0px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 85px;
}

.header {
    flex: 1;
}

.logo img {
    width: 60px;
    margin-top: 25px;
    margin-left: -70px;
}

nav ul {
    display: flex;
    flex-direction: row;
}

ul {
    list-style-type: none;
    padding: unset;
}

nav li {
    padding: 0px 20px;
}

nav li:hover {
    border-top: solid 2px #0065FC;
    cursor: pointer;
    padding: 0px 50px;
}

nav li:hover a {
    color: #0065FC;
}

.menu a {
    text-decoration: none;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: black;
}

.top-title {
    font-size: 25px;
    font-weight: 900;
}

.top-sub-title {
    font-size: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 500px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    border: 1px solid #F2F2F2;
}

.search-bar input[type="text"] {
    flex-grow: 1;
    height: 100%;
    border: none;
    padding: 0px 10px;
    font-size: 16px;
    /* background-color: transparent; */
    outline: none;
}

.search-bar button {
    width: 120px;
    height: 100%;
    border: none;
    background-color: #0065FC;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.search-bar button:hover {
    background-color: darkblue;
}


.search-bar .icon {
    display: flex;
    align-items: center;
    padding: 20px 10px;
    background-color: #F2F2F2;
}

.search-bar .icon img {
    width: 20px;
    height: 20px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Filtres-word {
    font-size: 20px;
    font-weight: 900;
    margin-right: 15px;
}

.button-search {
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

.fa-money-bill-wave {
    margin-right: 7px;
    margin-left: -7px;
    color: #0065FC;
}

.fa-person {
    margin-right: 7px;
    margin-left: -7px;
    color: #0065FC;
}

.fa-heart {
    margin-right: 7px;
    margin-left: -7px;
    color: #0065FC;
}

.fa-fire {
    margin-right: 7px;
    margin-left: -7px;
    color: #0065FC;
}

.fa-location-dot {
    color: #000;
}

.button-top {
    display: inline-block;
    margin-right: 10px; /* Espacement horizontal entre les boutons */
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    height: 50px;
    padding: 4px 19px 4px 19px;
    gap: 10px;
    border: none;
    cursor: pointer;
    border-radius: 20px; /* Bordures arrondies */
    border: 2px solid #D9D9D9;
}

.button-top:hover {
    background-color: #DEEBFF;
}

.info {
    display: flex;
    align-items: center;
}

.info-rond {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border: 1px solid #D9D9D9;
    font-weight: bold;
    border-radius: 50%;
    padding: 5px;
    width: 10px;
    height: 10px;
}

.info-logements {
    font-weight: 500;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    margin: auto;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 900;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-more {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-more {
    font-size: 16px;
    font-weight: 900;
}

.hebergements-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.hebergements-cards .card {
    width: 30%;
    margin-top: 33px;
}

.hebergements-cards img {
    width: 100%;
    height: 136px;
    border-radius: 20px;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-top: 10px;
    margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Activités à Marseille ********/

.activites-marseille {
    width: 100%;
    display: flex;
    padding: 0px 20px;
}

.titre-activites {
    size: 22px;
    font-weight: 900;
}

.activites-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 20px;
    gap: 1em;
}

.activites-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-left: 15px;
    font-weight: 900;
    size: 16px;
}

.card-activites {
    flex: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px 20px 20px 20px;
  }

.card-activites img {
    width: 100%;
    border-radius: 20px 20px 20px 20px;
    aspect-ratio: 1 / 1.2;
}

/* Footer *************/

.footer {
    width: 100%;
    padding: 0 50px;;
    max-width: 1440px;
    height: 163px;
    background: #F2F2F2;
    display: flex;
    flex-direction: row;
    gap: 100px 250px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    box-sizing: border-box;
    background-clip: content-box;
}

.titre-footer {
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.footer-a-propos {
    font-weight: 400;
    font-size: 16px;
    margin-left: 10px;
}

.footer-hebergement {
    font-weight: 400;
    font-size: 16px;
}

.footer-contact {
    font-weight: 400;
    font-size: 16px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 8px 0px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }
    
    .hebergements {
        width: 100%;
    }
    
    .populaires {
        width: 100%;
        margin-top: 50px;
    }
    
    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .populaires-cards .card {
        width: 30%;
    }
    
    .populaires-cards .card-title {
        font-size: 14px;
    }
    
    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}