/****** Variables ***********/

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --spacing-mobile: 30px;
}

/****** Normalise ***********/

html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/****** General ***********/

* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

.fa-solid {
    color: var(--main-color);
}

header {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    flex: 1;
}


.logo img {
    width: 60px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu {
    height: 100%;
}

.menu ul {
    display: flex;
    height: 100%;
}

.menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    height: 100%;
}

.menu li:hover {
    border-top: solid 2px #0065FC;
    cursor: pointer;
}

.menu li:hover a {
    color: #0065FC;
}

.menu a {
    text-decoration: none;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: black;
}

.top-title {
    font-size: 25px;
    font-weight: 900;
}

.top-sub-title {
    font-size: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    max-width: 500px;
    width: 100%;
    height: 40px;
    background-color: white;
    overflow: hidden;
}

.search-bar input[type="text"] {
    flex: 1;
    height: 100%;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 16px;
    /* background-color: transparent; */
    outline: none;
    font-weight: 900;
}

.search-bar button {
    flex-shrink: 0;
    width: 120px;
    height: 100%;
    border: none;
    background-color: #0065FC;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0 10px 10px 0;
}

.search-bar button:hover {
    background-color: darkblue;
}

.search-bar button i {
    display: none;
}


.search-bar .icon {
    display: flex;
    overflow: hidden;
    align-items: center;
    padding: 12px 10px;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
}

.search-bar .icon img {
    width: 20px;
    height: 20px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Filtres-word {
    font-size: 20px;
    font-weight: 900;
}

.button-search {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    gap: 10px;
}

.button-search_buttons {
    display: flex;
    gap: 10px;
    flex: 1;
}

.button-top_wrapper {
    display: flex;
    gap: 10px;
}

.button-top {
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    text-align: left;
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    height: 50px;
    padding: 4px 19px;
    gap: 10px;
    border: none;
    cursor: pointer;
    border-radius: 20px; /* Bordures arrondies */
    border: 2px solid #D9D9D9;
    width: 200px;
}

.button-top:hover {
    background-color: #DEEBFF;
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-logements {
    font-weight: 600;
}

.info-rond {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border: 1px solid #D9D9D9;
    font-weight: bold;
    border-radius: 50%;
    padding: 5px;
    width: 25px;
    height: 25px;
}

.info-logements {
    font-weight: 500;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    margin: auto;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 900;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-more {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-more {
    font-size: 16px;
    font-weight: 900;
}

.hebergements-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 15px;
    padding: 30px 0;
}

.hebergements-cards .card-content .card-txt {
    flex: 1;
}

.hebergements-cards .card {
    width: 30%;
}

.hebergements-cards img {
    width: 100%;
    height: 136px;
    border-radius: 20px;
}

.hebergements-cards .card-content {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 8px;
}


.hebergements-cards .card-subtitle {
    margin: 0;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    display: flex; 
    flex-direction: column;
    gap: 15px;
    padding: 30px 0;
}

.populaires-cards .card {
    display: flex; 
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-content .card-txt {
    flex: 1;
    justify-content: space-between;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

/* Activités à Marseille ********/

.activites-marseille {
    width: 100%;
    display: flex;
    padding: 0px 20px;
}

.titre-activites {
    font-size: 22px;
    font-weight: 900;
}

.activites-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 30px;
    gap: 1em;
}

.activites-card .card-txt {
    padding: 15px;
}

.activites-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-weight: 900;
    font-size: 16px;
}

.card-activites {
    flex: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.card-activites img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    aspect-ratio: 1 / 1.2;
    object-fit: cover;
}

.activites-marseille {
    padding: 30px;
}

/* Footer *************/

.footer {
    padding: 30px 50px;
    max-width: 1440px;
    min-height: 163px;
    background: #F2F2F2;
    display: flex;
    gap: 1rem;
    margin: 0 50px;
    box-sizing: border-box;
}

.titre-footer {
    font-weight: 900;
    font-size: 18px;
}

.footer-a-propos {
    font-weight: 400;
    font-size: 16px;
}

.footer-hebergement {
    font-weight: 400;
    font-size: 16px;
}

.footer-contact {
    font-weight: 400;
    font-size: 16px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 8px 0px;
    flex: 1;
}

/****** Utilities ***********/

.color-black {
    color: #000;
}

.color-white {
    color: white;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }
    
    .hebergements {
        width: 100%;
        order: 1;
        border-radius: 0;
    }
    
    .populaires {
        width: 100%;
        order: 2;
        border-radius: 0;
    }
    
    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .populaires-cards .card {
        width: 30%;
    }
    
    .populaires-cards .card-title {
        font-size: 14px;
    }
    
    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    
    .button-search {
        flex-wrap: wrap;
    }
    
    .Filtres-word {
        display: block;
        width: 100%;
    }
    
    .button-top {
        font-size: 14px;
        width: 150px;
    }

    .header .block-title {
        padding: 10px;
    }


}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    
    .header {
        flex-direction: column;
        align-items: center;
        padding: 15px 0;
        gap: 15px;
        height: auto;
    }
    
    .main-container {
        padding: 0;
    }
    
    .block-title {
        padding: var(--spacing-mobile);
    }
    
    .button-search {
        padding: var(--spacing-mobile);
    }
    
    .button-search_buttons {
        flex-wrap: wrap;
    }
    
    .button-top_wrapper {
        width: 100%;
    }
    
    .button-top {
        width: auto;
        flex: 1;
        font-size: 12px;
    }
    
    .search-bar {
        padding: 0 var(--spacing-mobile);
    }
    
    .search-bar button {
        width: 50px;
        border-radius: 10px;
        margin-left: -10px;
    }
    
    .search-bar button i {
        display: block;
    }
    
    .search-bar button span {
        display: none;
    }
    
    .info {
        padding: var(--spacing-mobile);
    }
    
    
    .hebergements-and-populaires .hebergements {
        order: 2;
        background-color: white;
    }
    
    .hebergements-cards {
        flex-direction: column;
        padding: var(--spacing-mobile) 0;
    }
    
    .hebergements-cards .card {
        width: 100%;
    }
    
    .hebergements-and-populaires .populaires {
        border-radius: 0;
    }
    
    .populaires {
        order: 1;
        border-radius: 0;
    }
    
    .populaires-cards {
        flex-direction: column;
    }
    
    .populaires-cards .card {
        width: 100%;
    }
    
    .activites-card {
        flex-direction: column;
        padding: var(--spacing-mobile);
        width: 100%;
    }
    
    .activites-card .card-activites {
        width: 100%;
    }

    
    .card-activites img {
        aspect-ratio: 2 / 1;
    }

    
    .card-content .card-rating {
        flex-direction: column;
    }

    .footer {
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    .footer-column {
        padding: 20px 20px;
        gap: 15px;
    }
}
